

﻿@model List<acunmedyaakademi.Models.TblHobby>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Resim</th>
        <th>Başlık</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.HobbyId</td>
            <td><img src="@item.IconUrl" style="height:30px ;widht:30px" /> </td>
            <td>@item.Title</td>
            <td><a href="/Hobby/UpdateHobby/@item.HobbyId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Hobby/DeleteHobby/@item.HobbyId" class="btn btn-danger"><i class="fa fa-edit"></i> Sil</a></td>
        </tr>
    }
</table>
<a href="/Hobby/CreateHobby" class="btn btn-success">Yeni Hobi Ekle</a>

