
@model List<acunmedyaakademi.Models.TblAbout>

@foreach (var item in Model)
{
    <span class="subheading">Giriş</span>
    <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">@item.Title</h2>
    <p>@item.Description</p>
}




@*<img src="https://media.licdn.com/dms/image/v2/D4D03AQG1Re7dz4KY_Q/profile-displayphoto-shrink_800_800/B4DZNU72sIG0Ac-/0/1732296797457?e=1744243200&v=beta&t=KnUTrdZAirYa1fcs-0mei8LjEp2ejG5IXeN5Y0CLycA" />*@
@*<img src="~/Resim/6505.jpg" />*@